.divPrincipal {
    height: 310px; width: 180px; cursor:pointer;
}
#divTransparente {
    background-color: transparent;
}
img {
    image-rendering: high-quality;
}
p {
    color: white; 
    font-weight: 400;
    font-size: .875rem;
    text-align: center;
    line-height: 1.5;
    margin-bottom: 0;
    padding-top: 0.6rem;
}
#mask{
    background: linear-gradient(
    45deg,
    rgba(29, 236, 197, 0.5),
    rgba(91, 14, 214, 0.5) 70%);
}