  <div class="container">
      <div class="alert bg-warning text-center" role="alert">
        <strong>{{tipo| uppercase}}S TENDECIAS</strong>
      </div>
    <div class="row row-cols-sm-2 row-cols-md-4 d-flex justify-content-center">
      <div *ngFor="let Pelicula of dato" class="col-md animate__animated animate__pulse divPrincipal" >
        <div class="card mb-3 bg-image hover-overlay hover-zoom hover-shadow"  id="divTransparente" [routerLink]="['/' ,tipo, Pelicula.id]">
          <img *ngIf="Pelicula.poster_path,else elseimg" src="https://www.themoviedb.org/t/p/w220_and_h330_face{{ Pelicula.poster_path }}" alt="..."  >
          <ng-template #elseimg>
            <img src="http://imgfz.com/i/VAxngit.png" alt="..."  >
          </ng-template>
          
          <p>
          {{Pelicula.title}}{{Pelicula.name}}</p>
            <div class="mask" id="mask">
            </div>
            <span class="position-absolute top-0 end-0 badge rounded-pill bg-primary bg-gradient">
              {{Pelicula.release_date | slice:0:4}} {{Pelicula.first_air_date | slice:0:4}}
            <span class="visually-hidden"></span>
          </span>
        </div>

      </div>
    </div>
  </div>

  