
<app-sugerencia-titulo 
    [dato]="tendenciaTexto" 
    tipo="pelicula">
</app-sugerencia-titulo>
<hr style="background-color: white; height: 3px;">
<div class="row">
    
    <div class="col-lg-7">
        <app-sugerencia-trailer 
            [dato]="tendenciaTrailer"
            tipo="pelicula">
        </app-sugerencia-trailer>
    </div>
    <div class="col-lg">
        <app-top-trailer 
            [dato]="topPelicula" 
            tipo="pelicula">
        </app-top-trailer>
    </div>
</div>

<app-paginador 
    dato="pelicula">

</app-paginador>
